@import '_fonts';
@import '_colors';

:host {
    margin: auto;
    width: 327px;
    height: 567px;
    background: white;
    border-radius: 11px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 376px) {
        width: 480px;
        height: 697px;
    }

    .info {
        text-align: center;

        &__title {
            @include font(28px, bold, 38px);
            height: 29px;
        }

        &__desc {
            @include font(15px, medium, 25px);
            height: 75px;
            margin: 32px 0;
            padding: 0 40px;
            color: $neutral-desaturated-blue;
            
            @media screen and (min-width: 376px) {
                @include font(16px, medium, 26px);
                padding: 0 15%;
            }
        }
    }

    .cancel {
        @extend .font-btn;
        cursor: pointer;
        color: $neutral-desaturated-blue;
        margin-top: 0;

        @media screen and (min-width: 376px) {
            margin-bottom: 10%;
        }
    }
}
