.common {
    border-radius: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

@mixin btn-common($width, $height,
    $background, $backgroundHover, $color: white) {

    @extend .common;

    width: $width;
    height: $height;
    background: $background;
    color: $color;

    &:hover {
        background: $backgroundHover;
    }
}


@mixin btn($width, $height,
    $background, $backgroundHover, $color) {
    @include btn-common($width, $height,
        $background, $backgroundHover, $color);
        justify-content: center;
}

@mixin btn--icon($width, $height,
    $background, $backgroundHover, $color) {
    @include btn-common($width, $height,
        $background, $backgroundHover, $color);
        justify-content: space-around;
        padding-right: 8px;
}
