@mixin font($fontSize: medium, $fontWeight: medium,
    $lineHeight: normal, $letterSpacing: normal) {

    font-size: $fontSize;
    font-weight: $fontWeight;
    font-family: 'Red Hat Display', sans-serif;
    
    line-height: $lineHeight;
}

.font-btn {
    @include font(15px, bold, 20px);
}


@mixin body {
    @include font(16px);
}

.font-change {
    @include font(13px, medium, 17px);
}

.body2 {
    @include font(11px, medium, 18px, -.23);
}
